source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget Microsoft.Bcl.Immutable 1.0.34 framework: >= net45
nuget NUnit 
nuget NUnit.Runners
nuget Nuget.CommandLine
nuget FAKE
nuget SourceLink.Fake
nuget Akka == 1.0.1
nuget Akka.FSharp == 1.0.1
nuget Akka.Remote == 1.0.1
nuget Google.ProtocolBuffers == 2.4.1.521
nuget Helios == 1.4.0
nuget Newtonsoft.Json == 6.0.8
nuget FsPickler
nuget FSPowerPack.Core.Community
nuget FSPowerPack.Linq.Community
nuget Akka.Persistence == 1.0.1-pre1504282013
nuget Akka.Persistence.FSharp == 1.0.1-pre1504282013

github fsharp/FAKE modules/Octokit/Octokit.fsx